:root {
  --crust: #11111b;
  --mantle: #181825;
  --base: #1e1e2e;

  --surface0: #313244;
  --surface1: #45475a;
  --surface2: #585b70;

  --overlay0: #6c7086;

  --text: #cdd6f4;
  --subtext1: #bac2de;

  --accent: #89dceb; /* catppuccin sky */
  --red: #f38ba8;
}


/* catppuccin latte (light theme) 
:root {
  --crust: #dce0e8;
  --mantle: #e6e9ef;
  --base: #eff1f5;

  --surface0: #ccd0da;
  --surface1: #bcc0cc;
  --surface2: #acb0be;

  --overlay0: #9ca0b0;

  --text: #4c4f69;
  --subtext1: #5c5f77;

  --accent: #04a5e5; catppuccin sky
  --red: #d20f39;
}
*/

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style:normal;
}


@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-style:normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Fredoka";
  src: url("/fonts/Fredoka-VariableFont_wdth\,wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}


@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}




html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  background-color: var(--surface0);
  color: var(--text);
  /*cursor: url("/images/cursor/default.svg"), auto;*/
}

body {
    background-image: url('/images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    font-family: "IBM Plex Mono", monospace;
}

/* .desktopIcon, .titleBar .closeBtn, .row figure {
  cursor: url("/images/cursor/pointer.svg"), pointer !important;
}

.titleBar {
  cursor: url("/images/cursor/move.svg"), move !important;
}
*/


hr {
  color: var(--surface0);
  background-color: var(--surface0);
  height: 1px;
  border-radius: 10px;
  margin: 30px;
}

.dock {
    position: absolute;
    height: 50px;
    border-radius: 20px;
    background: var(--mantle);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    left: 50%;
    gap: 20px;
    padding: 10px 20px;
    transform: translate(-50%, 0);
    margin-bottom:15px;
    z-index: 257;

    box-shadow: inset 0px 2px 3px 0px var(--crust);
}

.dock i{
    transition: transform 0.2s ease, margin 0.2s ease;
    color: var(--text);
}

.dock i:hover {
    transform: scale(1.35);
    margin: 0 8px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: var(--base);
    color: var(--text);
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 175%;
    left: -35%;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.desktopLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
  
}

.desktopIcon {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 64px;
  cursor: pointer;
  user-select: none;
}

.desktopIcon img {
  width: 64px;
  height: 64px;
}

.desktopIcon span {
  margin-top: 10px;
  color: var(--text);
}

.desktopRight {
  position: absolute;
  bottom: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
}

.window {
  position: absolute;
  top: 10vh;
  left: 10vw;
  max-width: 50vw; 
  max-height: 75vh; 
  background-color: var(--base);
  border-radius: 10px;
  color: var(--text);
  box-shadow: var(--base) 0px 10px 36px 0px, var(--crust) 0px 0px 0px 1px;
  overflow: hidden;
  display: none;
}

@media screen and (max-width: 1000px) {
    .window {
        max-width: 85vw;
    }
  }


.windowTab {
  display: flex;
  padding: 5px 10px;
  gap: 20px;
  font-size: 12px;
  background-color: var(--mantle);
  color: var(--overlay0);
}

.windowContent {
  padding: 20px;
  padding-bottom: 40px;
  max-height: calc(75vh - 30px);
  overflow-y: auto;
  box-sizing: border-box;
}



b {
  font-weight: bolder;
  background-color: var(--accent);
  color: var(--mantle);
}

.windowContent img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--crust);
  border-radius: 8px 8px 0 0;
  padding: 6px 10px;
  color: var(--text);
  cursor: move;
  user-select: none;
  position: sticky;
  top: 0;
}

.titleLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titleLeft i {
  color: var(--accent);
}

.titleBar p {
    margin: 0;
    font-size: 14px;
}

.closeBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--red);
    width: 18px;
    height: 18px;
    color: white; 
    cursor: pointer;
    transition: background-color 0.2s;
}

.closeBtn i {
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.2s;
}



.closeBtn:hover {
  background-color: #e6455e;
}

.closeBtn:hover i {
  opacity: 1;
}

#albumArt {
  margin-bottom: 18px;
}

#albumArt img {
  border-radius: 10px;
  width: 200px;
}

#musicWindow{
  width: 250px;
}

#musicWindow p {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


#musicWindow #track {
  margin: 6px;
}

#musicWindow #artist{
  margin: 0;
  font-size: 14px;
  color: var(--subtext1);
}

#musicWindow #album{
  margin:0;
  font-size: 14px;
  color: var(--surface2);
}

.music-bar {
    position: relative;
    height: 3px;
    background: linear-gradient(90deg,var(--text) 0%, var(--text) 40%, var(--surface1) 40%, var(--surface1) 100%);
    border-radius: 4px;
    margin: 30px 0px;
}

.music-bar .indicator {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 15px;         /* circle size */
    height: 15px;
    background-color: var(--text);
    border-radius: 50%;
}

.mediaPlayback {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.msgProfile {
  width: 40px;
  height:40px;
}

.msgText {
  background-color: var(--surface0);
  padding: 12px 16px 12px 16px;
  max-width: 70%;
}

#msgLeft {
    border-radius: 20px 20px 20px 0px;
}

#msgRight {
  border-radius: 20px 20px 0px 20px;
}

.msgText p {
  margin: 0px;
  line-height: 1.3;
  font-size: 14px;
}

.msg {
  display: flex;
  gap:15px;
  align-items: flex-end;
}

#languagesWindow {
  width: 400px;
}

.cursor {
  width: 2px;
  height: 1em;
  background-color: var(--text);
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-0.1em);
  animation: blink 1s step-start infinite;
  margin-left: 0.25em;
}

@keyframes blink {
  50% { opacity: 0; }
}

.row{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.row figure{
  width: 90px;
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.1;
  cursor: pointer;
}
.row img{
  margin-bottom: 10px;
  border-radius:8px; }


.gallery {
  margin: 0 auto;
  column-count: 3;
  column-gap: 12px;
  padding: 0 12px;
}

.gallery-item {
  margin-bottom: 12px;
  display: inline-block;
  width: 100%;
}

.gallery-item figure {
  margin: 0;
  
}

.gallery-item img,
.gallery-item video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

@media (max-width: 700px) {
  .gallery { column-count: 2; }
}
@media (max-width: 500px) {
  .gallery { column-count: 1; }
}

/* ---------------- dark skies window ---------------- */

#darkSkiesWindow p, #darkSkiesWindow li {
  color: #E0E4E6;
}

#darkSkiesWindow b {
  color: #E0E4E6;
  font-family: Montserrat, monospace;
  font-weight:700;
  background-color: #00000000;
}

#darkSkiesWindow .windowContent {
  background-color: #0A0A0A;
}

#darkSkiesWindow h1, #darkSkiesWindow h2 {
  color:#EE233B;
}

#darkSkiesWindow h3 {
  color: #E0E4E6;
  font-weight: 500;
}


@media (max-width: 800px) {
  .section01 {
    flex-direction: column;
    padding: 10px !important;
    gap: 20px !important;
    align-items: center;
}

  .section01Tex {
    order: 1;
  }


  .section01Img img {
    width:100%;
    align-items: center;
  }

  .section02 {
  padding: 10px !important;
}
}

.section01 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  gap: 30px;
}

.section01Tex {
  flex: 1;
  text-align: left;
}

.section01Img {
  flex: 0 0 35%;
}

.section01Img img {
    display: block;
}

.section02 {
  padding: 40px;
}

#ffcWindow .windowContent {
  background-color: #FBFBFF;
}

#ffcWindow hr {
  color: #ABB3BE;
  background-color: #ABB3BE;
}

#frogcastWindow .windowContent {
  background-color: #FDFDFF;
  color:#0A0A0A;
  font-family: "Fredoka", monospace;
}

#frogcastWindow .windowContent p {
  font-size: 1.15em;
}

#projectsWindow {
    display: block;
}

#aboutWindow p, #thanksWindow p {
  margin:0;
}

#kneeGuruWindow .windowContent {
  background-color: #FFFFFF;
  color: #040F1D;
  font-family: "Open Sans", monospace;
}

#kneeGuruWindow h2 {
  color: #074266;
}
